@font-face {
	font-family: Helvetica-Neue;
	src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
	font-family: Helvetica-Neue-UltraLight;
	src: url(../fonts/HelveticaNeue-UltraLight.otf);
}

body {
	background-color: #F5F5F5
}

