.todo-action-bar {
	display: flex;
	height: 40px;
}

.todo-action-bar_counter {
	font-family: "Helvetica-Neue", serif;
	float: left;
	margin: 10px 10px;
	font-size: 14pt;
}

.todo-action-bar_clear-completed {
	float: right;
	font-family: "Helvetica-Neue", serif;
	border: 0;
	background: #FFFFFF;
}