.todo-item {
	display: flex;
	min-height: 60px;
	border-bottom: 1px solid #E3E3FF;
}

.todo-item:hover {
	background: #F5F5F5;
}

.todo-item_text {
	border: 0;
	font-family: "Helvetica-Neue";
	flex: 1 0;
	font-size: 24pt;
	resize: none;
	padding-left: 10px;
	padding-top: 12px;
	outline: none;
	word-break: break-all;
	max-width: 600px;
}