.todos_filters {
	flex: 1 0;
	overflow: hidden;
	text-align: center;
}

.todos_filter {
	text-align: center;
	font-family: "Helvetica-Neue", serif;
	font-size: 14pt;
	border: 0;
	background: #FFFFFF;
	margin: 10px 6px;
}

.todos_filter.__active {
	border: 1px solid #ebdfdf;
	border-radius: 2px;
}