@import "../../config/globals";


.todo-item {
    padding: $offset_3x;
    border-bottom: 1px solid $c-common-border;
    background: #fff;
    display: flex;

    @include clearfix();

    @include not-hovered() {
        .todo-item_remove-action {
            opacity: 0;
            transition: opacity .2s;
            }
        }
    @include hover() {
        background: #fafafa;

        .todo-item_remove-action {
            opacity: 1;
            }
        }
    }
    .todo-item.__hide {
        display: none;
        }
    .todo-item:first-child,
    .todo-item.__hide:first-child ~ .todo-item {
        border-top: 1px solid $c-common-border;
        }
    .todo-item.__hide:first-child ~ .todo-item:not(.__hide) ~ .todo-item {
        border-top: 0;
        }

    .todo-item_ready-checker {
        float: left;
        align-self: center;
        }


    .todo-item_remove-action {
        float: right;
        margin-top: $offset_3x;
        margin-bottom: $offset_3x;
        order: 1;
        align-self: flex-end;
        }

        .todo-item_remove-action .action_visual {
            width: 16px;
            height: 16px;
            min-width: 16px;
            position: relative;
            overflow: hidden;
            }
            .todo-item_remove-action .action_visual:before,
            .todo-item_remove-action .action_visual:after {
                content: '';
                position: absolute;
                width: 21px;
                height: 2px;
                background: $c-micro-elements;
                transform-origin: 0 0;
                }
            .todo-item_remove-action .action_visual:before {
                transform: rotate(45deg);
                left: 1px;
                }
            .todo-item_remove-action .action_visual:after {
                transform: rotate(-45deg);
                top: 15px;
                }

    .todo-item_text-w {
        overflow: hidden;
        flex: 1 0;
        }
        .todo-item_text {
            outline: none;
            border: 0;
            font-family: $font-main;
            font-size: $fs_xx-large;
            line-height: $lh_xx-large;
            font-weight: 300;
            padding: $offset $offset_3x;
            overflow: hidden;
            }
            .todo-item.__ready .todo-item_text {
                text-decoration: line-through;
                }
