$c-white: #fff;
$c-gray: #666;
$c-gray-dark: #333;
$c-gray-light: #ddd;
$c-light: #999;
$c-ultra-light: #ccc;
$c-orange: #eb722e;
$c-error: #ff5756;

$c-main-bg: #f5f5f5;
$c-title: rgba(#af2f2f, .15);
$c-todos-main-bg: $c-white;
$c-common-border: #e6e6e6;

$c-micro-elements: #ebdfdf;